CONFIG_IDF_TARGET="esp32c3"
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_EPPP_LINK_DEVICE_SPI=y
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_IPV4_NAPT=y
CONFIG_LWIP_PPP_VJ_HEADER_COMPRESSION=n
CONFIG_WIFI_MGR_ENABLE_CLI=y
CONFIG_ESP_BUS_NAME_MAX_LEN=32
CONFIG_EPPP_SRV_LED_GPIO=-1
CONFIG_SPI_EPPP_PIN_MOSI=10
CONFIG_SPI_EPPP_PIN_MISO=9
CONFIG_SPI_EPPP_PIN_SCLK=8
CONFIG_SPI_EPPP_PIN_CS=3
CONFIG_SPI_EPPP_PIN_INT=4
